footer.footer
	.section.section_gradient
		img.section__corner.section__corner_invert-X.section__corner_footer(src="../img/border-gradient.jpg", alt="")
		img.section__corner.section__corner_invert-XY.section__corner_footer(src="../img/border-gradient.jpg", alt="")
		.container
			.footer__container
				.logo
					img(src="../img/header-logo.jpg", alt="")
					span arber
				.text.text_footer It is a long established fact that a reader will be distracted by the readable.
				.footer__menu
					.footer__menu-item
						img(src="../img/Footer/Vector.svg", alt="")
					.footer__menu-item
						img(src="../img/Footer/Group.svg", alt="")
					.footer__menu-item
						img(src="../img/Footer/Gp.svg", alt="")
				