header.header
  .section
    .container
      .header__inner        
        .header__logo
          img(src="../img/header-logo.jpg", alt="")
          span arber
        .header__nav
          a.header__link(href="#") Home
          a.header__link(href="#") History
          a.header__link(href="#") Service
          a.header__link(href="#") Gallery
        a(href="#").header__profile
          img(src="../img/header-profile.png", alt="")
        a(href="#").header__notification
          img(src="../img/notification-bell.png", alt="")
          img(src="../img/notification-lick.png", alt="")
        button.button Appointment
