.footer {

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
    }

    &__menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67px;
        height: 67px;
        background: #fff url("../img/Footer/footer-i.svg") center no-repeat;

        &:nth-child(2) {
            margin: 0 25px;
        }
    }

    &__border {
        height: 1px;
        width: 1367px;
        background-color: $lightblue;
        margin-top: 50px;
    }
}