.history {
    display: flex;
    font-family: 'Catamaran', sans-serif;
    justify-content: end;    

    @media ($md) {
        text-align: center;
    }

    &__logo {
        position: absolute;        
        left: -150px;
        margin-right: 150px;
        width: 968px;
        z-index: 2;

        @media ($lg) {
            width: 80%;
        }

        @media ($md) {
            width: 60%;
        }

        @media ($sm) {
            width: 40%;
        }
    }

    &__content {
        margin-top: 50px;
    }
}