.history {
    display: flex;
    font-family: 'Catamaran', sans-serif;
    justify-content: end;

    &__logo {
        position: absolute;        
        left: -150px;
        margin-right: 150px;
    }

    &__content {
        margin-top: 50px;
    }
}