.intro {    
    font-family: 'Catamaran', sans-serif;
    display: flex;

    @media ($md) {
        text-align: center;
    }

    &__logo {        
        width: 70%;
        z-index: 2;
        margin-left: 50px;

        @media ($lg) {
            width: 80%;
        }

        @media ($md) {
            width: 60%;
        }

        @media ($sm) {
            width: 40%;
        }
    }

    &__text {
        margin-top: 50px;
        color: $blue;
        max-width: 520px;
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;

        @media ($md) {
            max-width: none;
        }
    }
}