.section {
    width: 100%;    
    background-color: $white;
    position: relative;    

    &_gradient {        
        margin-top: 200px;
        border-image-source: url("../img/border-gradient.jpg");
    }

    &_cream {
        background-color: $cream;
        padding-bottom: 40px;
    }
}
