.section {
    width: 100%;    
    background-color: $white;      

    &_gradient {        
        margin-top: 200px;
        position: relative;          
    }

    &_cream {
        background-color: $cream;
        padding-bottom: 40px;
    }

    &__corner {
        position: absolute;
        z-index: 1;
        top: -125px;
        right: 0;    
        
        @media ($xl) {
            display: none;
        }

        &_invert-Y {
            top: -125px;
            left: 0;          
            transform: scale(-1, 1);
        }

        &_invert-X {
            top: 380px;
            right: 0;            
            transform: scale(1, -1);
        }

        &_invert-XY {
            top: 380px;
            left: 0;
            transform: scale(-1, -1);
        }

        &_footer {
            top: -300px;
        }
    }
}
