.services {    
    font-family: 'Catamaran', sans-serif;    
    margin-top: 300px;
    padding-bottom: 320px;

    @media ($md) {
        padding-bottom: 0;
    }

    &__items {
        display: flex;
        margin-top: 80px;
        justify-content: space-around;

        @media ($md) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 441px;
        height: 533px;
        background-color: $lightblue3;
        border-radius: 30px;
        padding: 50px 40px;
        cursor: pointer;
        box-shadow: 0 5px 0 0 $lightblue;

        @media ($md) {
            margin-bottom: 50px;
        }

        &:hover {
            background-color: $lightblue;
        }
    }

    &__item-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 103px;
        height: 126px;
        background-color: $lightblue4;
        border-radius: 13px;
    }

    &__item-title {
        color: $darkblue;
        font-size: 45px;
        font-weight: 700;
    }

    &__item-text {
        color: $blue;
        font-size: 25px;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 3%;
        text-align: center;
    }
}

.services__item:hover .services__item-title {
    color: $white;
}

.services__item:hover > .text {
    color: $white;
}
