extends ./tpl/layout

block page
	section.section
		.container
			.intro
				img.intro__logo(src="../img/Intro/Intro-i.jpg", alt="")
				.intro__content
					.intro__title 
						span Hairstyle 
						| Reflects The Personality Inside You
					.intro__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at.
					button.button.button_mt Get Started
	section.section.section_gradient
		.container
			.history
				img.history__logo(src="../img/history-logo.jpg", alt="")
				.history__content
					.intro__title Our 
						span History
					.intro__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at.
					.intro__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at.
					button.button.button_mt Learn more

		