extends ./tpl/layout

block page
	section.section
		.container
			.intro				
				.intro__content
					.title 
						span Hairstyle 
						| Reflects 
						.br The Personality 
						.br Inside You
					.intro__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at.
				img.img.intro__logo(src="../img/Intro/Intro-i.svg", alt="")
			button.button.button_mt Get Started
	section.section.section_gradient
		img.section__corner(src="../img/border-gradient.jpg", alt="")
		img.section__corner.section__corner_invert-Y(src="../img/border-gradient.jpg", alt="")
		.container
			.history
				img.img.history__logo(src="../img/history-logo.png", alt="")
				.history__content
					.title Our 
						span History
					.intro__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at.
					.intro__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at.
					button.button.button_mt Learn more
	section.section.section_gradient
		img.section__corner.section__corner_invert-X(src="../img/border-gradient.jpg", alt="")
		img.section__corner.section__corner_invert-XY(src="../img/border-gradient.jpg", alt="")
		.container
			.services				
				.services__content
					.title.title_center Services We 
						.br 
						span Provide
					.services__items
						.services__item
							.services__item-logo
								img(src="../img/Services/services-1.svg", alt="")
							.services__item-title Hair Cut
							.text long established fact that a reacted by the readable content of hen looking at.
						.services__item
							.services__item-logo
								img(src="../img/Services/services-2.svg", alt="")
							.services__item-title Beard Cut
							.text long established fact that a reacted by the readable content of hen looking at.
						.services__item
							.services__item-logo
								img(src="../img/Services/services-3.svg", alt="")
							.services__item-title Facial Pack
							.text long established fact that a reacted by the readable content of hen looking at.
	section.section.section_gradient
		img.section__corner(src="../img/border-gradient.jpg", alt="")
		img.section__corner.section__corner_invert-Y(src="../img/border-gradient.jpg", alt="")
		.container
			.gallery
				.title.title_center Our
					span Gallery
				.gallery__list
					.component
						.grid
							-
								let galleryItems = [
									{
										src: "../img/Gallery/gallery-1.jpg"
									},
									{
										src: "../img/Gallery/gallery-2.jpg"
									},
									{
										src: "../img/Gallery/gallery-3.jpg"
									},
									{
										src: "../img/Gallery/gallery-4.jpg"
									},
									{
										src: "../img/Gallery/gallery-5.jpg"
									},
									{
										src: "../img/Gallery/gallery-6.jpg"
									}
								];
							each galleryItem in galleryItems
								.grid__col.grid__col_4.grid__md-col_6.grid__xl-col_3
									.gallery__item
										img.gallery__img(src=galleryItem.src, alt="Logo")
				button.button.button_mt View all
	.modal
		.modal__inner
			img.modal__img(src="#", alt="#")
			button.modal__close
				img(src="../img/close.svg", alt="")

		